.git
.github
.idea
.vscode
.claude

node_modules
vendor
public/build
public/hot
public/storage

.env
.env.*
!.env.example
!.env.production.example

storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testviews/*
storage/framework/views/*
storage/logs/*

bootstrap/cache/*.php

tests
phpunit.xml
.phpunit.result.cache

docs
README.md
CLAUDE.md
compose.yaml
